version: '3.8'

services:
  mysql:
    image: mysql:8.0.36
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_DATABASE=thesis_defense_system
    volumes:
      - mysql-data:/var/lib/mysql

  redis:
    image: redis:7.2-alpine
    ports:
      - "6379:6379"
    command: redis-server --requirepass ""

  nginx:
    image: nginx:1.28-alpine
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro

volumes:
  mysql-data:
